/* @override http://localhost:8888/css/yigg-styles-v8.css */

html {color: #000; background: #FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin: 0; padding: 0}
table {border-collapse: collapse; border-spacing: 0}
fieldset,img {border: 0}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal}
li {list-style: none}
caption,th {text-align: left}
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal}
q:before,q:after {content: ''}
abbr,acronym {border: 0; font-variant: normal}
sup {vertical-align: text-top}
sub {vertical-align: text-bottom}
input,textarea,select {font-family: inherit; font-size: inherit; font-weight: inherit}
del,ins {text-decoration: none}
body {font: 13px/1.231 arial,helvetica,clean,sans-serif;}
select,input,button,textarea {font: 99% arial,helvetica,clean,sans-serif}
h1 {font-size: 138.5%}
h2 {font-size: 123.1%}
h3 {font-size: 108%}
h1,h2,h3 {margin: 1em 0}
h1,h2,h3,h4,h5,h6,strong {font-weight: bold}
abbr,acronym {border-bottom: 1px dotted #000; cursor: help}
em {font-style: italic}
blockquote,ul,ol,dl {margin: 1em}
ol,ul,dl {margin-left: 2em}
ol li {list-style: decimal outside}
ul li {list-style: none}
dl dd {margin-left: 1em}
th,td {border: 1px solid #000; padding: .5em}
th {font-weight: bold; text-align: center}
caption {margin-bottom: .5em; text-align: center}
p,fieldset,table,pre {margin-bottom: 1em}
html {background-color: #FFF; margin: 0; padding: 0}
body {padding: 0; text-align: left; margin: 0;
background: #f7f7f7; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f7f7 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7f7f7 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7f7f7 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.hidden {display: none}
abbr {font-size: 12px; color: #999; border-bottom: none;}
a {color: #993300; text-decoration: none}
a:visited {color: #cc9966}
a:hover {text-decoration: none;}
.thirds .one, .thirds .two, .thirds .three {float: left; margin: 0 100px 0 0;}
.twoThree .twoThree-left {width: 715px; min-height: 700px; display: block; padding-top: 10px; overflow: hidden;}
.twoThree .twoThree-right {width: 345px; display: block; margin-top: 0px !important; border-left: 1px solid #e3e3e3;}
.halfHalf .left {float: left; width: 50%; min-height: 0}
.halfHalf .right {float: right; width: 50%; position: static}
.heading-left, .heading-right {margin: 15px 0 5px 0}
.heading-right {margin: 0;}
.clr {clear: left}
.clr.bth, .clear {clear: both;}
.hr_bt {width: 1073px; margin: 0 auto; padding: 20px 0; background: #fff; border-width: 0 1px 1px; border-style: solid; border-color: #cdcdcd; border-bottom-color: #e3e3e3;}
.twoThree {display: table; table-layout: fixed; width: 1061px;}
.twoThree .twoThree-left, .twoThree .twoThree-right {display: table-cell; vertical-align: top;}
#container {position: relative;}
#container #content {width: 1073px; margin: 0 auto; background: #fff; border-width: 0 1px 1px; border-style: solid; border-color: #cdcdcd; border-bottom-color: #e3e3e3; overflow: auto;}
.content_data {margin: 0 0 0 12px; width: 1061px;}
.header {position: relative; background: #fff; border-bottom: 1px solid #cdcdcd;}
.header_data {width: 1255px; margin: 0 auto;}
.header_data .logo_box {float: left;}
.header_data .login_box_cont {width: 713px; float: left;}
.header_data .login_box {position: relative; float: left; margin: 0; width: 1073px; height: 50px; border-left: 1px solid #cdcdcd; border-right: 1px solid #cdcdcd; border-bottom: 3px solid #6d6d6d;}
.header_data .login_box ul.login_link li a {font: 14px 'Arial', sans-serif; color: #fff; padding: 0 17px; border-right: 1px solid #fff;}
.header_data .login_box ul.login_link li.last a {border-right: none;}
.header_data .login_box ul.social_link li a {display: block; width: 22px; height: 17px;}
.header_data .login_box ul.social_link li a.fb {background: url(../images/fb.png) 0 0 no-repeat;}
.header_data .login_box ul.social_link li a.tw {background: url(../images/tw.png) 0 0 no-repeat;}
.header_data .login_box ul, .header_data .login_box ul li {float: left; margin: 0;}
.header_data .login_box ul.social_link {margin-left: 9px;}
.header a.logo {padding: 0px; display: block;}
.header a.logo img {display: block;}
.login_link {width: 69px; height: 25px; border: 1px solid #dcdcdc; float: right; margin: 10px 0 0; text-align: center; position: relative;}
.login_link a {font: 14px/25px 'Arial', sans-serif; color: #191919; text-transform: uppercase;}
.login_link .login_box {background: url(../images/login_box.png) 0 0 no-repeat; display: none; position: absolute; right: -1px; top: 24px; border: 0; z-index: 2; width: 232px; height: 99px; padding: 16px 0 0;}
.login_link:hover .login_box {display: block;}
.login_link .login_box .fb_cnct, .login_link .login_box .yigg_cnct {width: 202px; height: 36px; cursor: pointer; margin: 0 auto; display: block;}
.login_link .login_box .fb_cnct {background: url(../images/fb_cnct.png) 0 0 no-repeat; margin-bottom: 9px;}
.login_link .login_box .yigg_cnct {background: url(../images/yigg_cnct.png) 0 0 no-repeat;}
#usernav {color: #111; padding: 0px 5px; font-size: 12px; float: right; width: 100%; margin-top: 10px}
#usernav .profilepic {float: left; width: 35px}
#navi {margin: 0; padding: 0; float: left;}
#navi li.selected a, #navi li:hover a {}
#navi li, #sub-navi li {list-style: none; margin: 0px 2px 0  0; float: left; padding: 0;}
#navi li {padding: 0px; border-right: 1px solid #cdcdcd; border-top: 1px solid transparent; height: 49px; margin: 0;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 1%, #f3f3f3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 1%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 1%,#f3f3f3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 1%,#f3f3f3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 1%,#f3f3f3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
#navi li.selected, #navi li.create {border-top: 1px solid #cdcdcd;}
#navi li a {display: block; font: bold 14px 'Arial', sans-serif; color: #333; padding: 29px 12px 0; /*background: #ffcc99 url(../images/splice.png) 100% -57px repeat-x; margin-left: 3px; padding: 8px; color: #e57e1a; font-weight: bold; font-size: 1.1em; text-decoration: none*/}
/*#navi li.selected, #navi li:hover {background: url(../images/splice.png) 0 -89px}
#navi li.selected a, #navi li a:hover {background: #e57e1a url(../images/splice.png) 100% -89px; color: white}*/
/*#navi li.create, #navi li.create a {background: none; color: #993300}*/
/*#navi li.create a:hover {text-decoration: underline}*/
#sub-navi {margin: 0; position: absolute; left: -89px; top: 67px;}
#sub-navi li {background: none; display: block; float: none; width: 85px; overflow: hidden;}
#sub-navi li a {color: black; display: block; line-height: 19px; background: none; margin-left: 2px; text-decoration: none}
#sub-navi li a:hover, #sub-navi li.selected a {color: #e57e1a}
.search_box {position: absolute; right: 14px; top: 10px;}
.search_box li {margin: 2px 0 0; list-style: none;}
/*#sub-navi li.selected, #sub-navi li:hover {background: url(../images/splice.png) 0% -157px}
#sub-navi li.selected a, #sub-navi a:hover {background: url(../images/splice.png) 100% -157px}*/
#footer {padding: 37px 0; clear: both; box-shadow: 0 5px 7px #292929 inset; text-align: center;
background: #434343; /* Old browsers */
background: -moz-linear-gradient(top, #434343 0%, #222222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#222222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #434343 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #434343 0%,#222222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #434343 0%,#222222 100%); /* IE10+ */
background: linear-gradient(to bottom, #434343 0%,#222222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}
#footer fieldset {display: block; margin: 0 auto; width: 1073px; text-align: left;}
#footer fieldset ul {margin: 0;}
#footer fieldset h4 {margin-left: 0; margin-bottom: 15px;}
#footer ul li {list-style: none; margin: 0 0 6px;}
#footer ul li a {color: #9a9c9d; font-size: 14px; font-family: 'Arial', sans-serif;}
#footer h4 {margin-left: 25px; color: #ffffff; font-size: 18px; font-family: 'Arial', sans-serif; font-weight: normal;}
.filters {margin: 0 10px 0 0; height: 15px}
.filters li {float: left; list-style: none; padding-left: 3px}
.filters a {color: #993300 !important; display: block; padding: 0px 5px; padding-left: 2px; font-weight: bold; text-decoration: none}
.filters li.selected a, .filters a:hover {background: url(../images/splice.png) 100% -40px repeat-x}
.filters li.selected, .filters li:hover {background: url(../images/splice.png) 0 -40px repeat-x}
.spy-filter * {padding: 0; margin: 0 5px; display: inline}
.spy-filter select * {display: block}
.spy-filter {float: left}
form.spy-filter .field label {float: none}
.spy-filter #keywords {width: 120px}
.pagination {margin: 0; text-align: center; clear: both; width: 694px; line-height: 44px; padding: 22px 0 0; position: relative; top: -1px; background: #fff;}
.pagination li {list-style: none; display: inline; padding-left: 2px}
.pagination li a {color: #333; font: 12px 'Arial', sans-serif; padding: 0px 10px; font-weight: bold; text-decoration: none}
.pagination li a:hover, .pagination li.selected a {color: #00709e; text-decoration: underline;}
/*.pagination li.selected a, .pagination a:hover {background: url(../images/splice.png) 100% -40px repeat-x}
.pagination li.selected, .pagination li:hover {background: url(../images/splice.png) 0 -40px repeat-x}*/
h1.entry-title {font-size: 1.6em}
h2.entry-title {font-size: 1.5em}
h3.entry-title {font-size: 1.4em}
.entry-title {font-weight: normal; margin: 0px 50px 5px 0; text-align: left; overflow: hidden; max-height: 2.5em; width: 400px}
.entry-content {margin: 5px 160px 0 0}
#story-list .entry-content {margin: 0}
#story-list .entry-content .story_auth {line-height: 20px;}
#story-list .entry-content .story_auth img {display: inline; vertical-align: middle;}
#story-list .entry-content .story_body {font: 14px/20px 'Arial', sans-serif; color: #444444; display: inline-block; height: 60px; overflow: hidden;}
#story-list .entry-content .story_body + a, #RegisterForm .field_last ul li a {font: 12px 'Arial', sans-serif; color: #333; text-decoration: underline;}
#story-list .entry-content .story_auth a {color: #00709E;}
.entry-content.video {margin: 5px 30px 0 0}
.entry-content h3 {margin-bottom: 5px; margin-top: 14px}
.story-actions, .spec-actions, .admin-actions {position: absolute; right: 0px; top: 30px; width: 20px; margin: 0}
.story-actions li, .spec-actions li, .admin-actions li {list-style: none; margin: 0}
.ico li {width: 20px; height: 20px; margin: 0px 0  5px 0}
.ico li a {height: 20px; overflow: hidden; white-space: nowrap; padding-left: 20px; display: block; background: #eee}
.ico .tweet {background: url(../images/splice.png) -20px 0  no-repeat}
.ico .facebook {background: url(../images/splice.png) -40px 0  no-repeat}
.ico .email {background: url(../images/splice.png) -320px -20px no-repeat}
.ico .follow {background: url(../images/splice.png) -420px 0  no-repeat}
.ico .edit {background: url(../images/silk-icons/pencil.png) no-repeat;}
.ico .reply {background: url(../images/splice.png) -200px -20px no-repeat}
.ico .admin {background: url(../images/splice.png) -360px 0  no-repeat}
.ico .delete {background: url(../images/splice.png) -240px -20px no-repeat}
.ico .unlink {background: url(../images/splice.png) -20px -20px no-repeat}
.ico .link {background: url(../images/splice.png) -420px -20px no-repeat}
.ico .unwatch {background: url(../images/splice.png) -200px 0  no-repeat}
.ico .watch {background: url(../images/splice.png) -180px 0  no-repeat}
.ico .logout {background: url(../images/splice.png) -40px -20px no-repeat}
.ico .blacklist {background: url(../images/splice.png) -380px -20px no-repeat}
.ico .screenie {background: url(../images/splice.png) -300px -20px no-repeat}
.rss {float: right; background: #f9f9f9; border: 1px solid #efefef; height: 52px; width: 52px; border-left: 2px solid #FFF}
.twoThree-right a.rss {display: none;}
.twoThree-right a.rss img {border-left: 1px solid #efefef; display: none;}
.userinfo {background: transparent; padding: 6px; margin: 14px auto 0; width: 304px;}
.userinfo h4, .userinfo h4 a {font: 14px 'Arial', sans-serif; color: #191919;}
.userinfo .register{font: 13px/26px 'Arial', sans-serif; display: block; text-align: center; color: #333;}
.userinfo .register:hover {color: #00709E;}
.userinfo label {display: none}
.userinfo input {display: inline;font-size: 1.1em;}
.userinfo form {margin: 0 auto; width: 219px; height: 107px; padding: 18px 0 0;}
.userinfo form fieldset {margin: 0}
.userinfo form .ninjaRequired {width: 211px; height: 25px; margin: 0 0 13px; display: block; padding: 1px 3px; border: 1px solid #9d9d9d; border-radius: 3px;}
.userinfo form #Password.ninjaRequired {margin-bottom: 7px;}
.userinfo .button, #LoginForm .button, #ResetPasswordForm .actions input, form#new_form #save, .settings .actions input, form.right-settings .actions input, form.post-box .actions input,
form#new_form.ninjaForm #Save, #RegisterForm .actions input {height: 31px; width: 56px; padding: 0 0 3px; float: right; border: 1px solid #e5e5e5 !important; text-align: center; font: bold 13px/25px 'Arial', sans-serif !important; color: #000; cursor: pointer;
background: #ffeb7e; /* Old browsers */
background: -moz-linear-gradient(top,  #ffeb7e 1%, #ffda05 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffeb7e), color-stop(100%,#ffda05)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffeb7e 1%,#ffda05 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffeb7e 1%,#ffda05 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffeb7e 1%,#ffda05 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffeb7e 1%,#ffda05 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb7e', endColorstr='#ffda05',GradientType=0 ); /* IE6-9 */
}
.userinfo .avatar {float: left; margin-right: 6px; border: 1px solid #c7c6c6;}
.userinfo ul {clear: both; padding: 13px 0 0; margin: 0;}
.userinfo ul li {list-style-type: none; float: none; margin: 0 0 4px; width: auto}
.userinfo ul li a {background: #666666; font: 12px 'Arial', sans-serif; color: #fff; text-shadow: 1px 1px #000; width: 90px; text-align: center;}
.screenshot, .consensus-holder {float: right; clear: right; background: url(../images/screenshot-loading-normal.png) top right no-repeat; height: 100px; width: 130px; margin: 5px 20px 0 10px; position: relative}
.screenshot a, .consensus-holder a {padding: 0  9px 9px 0}
#story-list .screenshot {height: 164px; width: 310px; margin: 0 0 7px; float: none;}
#story-list .screenshot img {width: 338px; height: 164px;}
.consensus-holder {height: 150px; width: 180px}
.consensus-holder a.consensus {position: absolute; bottom: 20%; right: 20%; font-size: 2em}
.consensus-holder p {position: absolute; top: 0; left: 50%}
#story-list {width: 702px; float: left; margin: 0;}
#story-list .list_cont {height: 283px; overflow: hidden;}
.story-list, spec-list {margin-left: 0}
.story-list .hentry, .spec-list .hentry {list-style: none; min-height: 130px; padding-bottom: 30px;}
.story-list .hentry {width: 338px; float: left; max-height: 390px; border-bottom: 1px solid #cfcfcf; margin: 0 13px 0 0; padding: 0; position: relative;}
.story-list .hentry .entry-title {width: 310px; margin: 0; padding: 15px 0;}
.story-list .hentry .entry-title a {font: 18px 'Arial', sans-serif; color: #191919; height: 46px; display: block; overflow: hidden;}
.story-list .hentry:hover .entry-title a, .story-list .hentry:hover h3.comments a {color: #00709e;}
/*.story-list .hentry:hover .rating-form .button {text-decoration: underline;}*/
.story-list .hentry:hover h3.comments a {background: url('../images/comment_bg_blue.png') 0 10px no-repeat;}
/*#story-list.story-list .hentry:hover .rating-form {background: url('../images/story_yiggit_blue.png') 0 0 no-repeat;}
#story-list.story-list .hentry:hover .rating-form.voted {background: url('../images/story_yiggit.png') 0 0 no-repeat;}*/
.story-list .hentry .entry-title a.logo {display: none;}
.spec-list .hentry {min-height: 180px}
.hentry {position: relative; margin-bottom: 10px; text-align: left; width: 100%}
.hentry.compacted {width: auto}
.hentry .story-inline-advert {width: 465px; clear: both; position: relative}
.spec-list .entry-title {margin: 0; width: auto}
.admin-actions {right: -25px; bottom: 30px;}
.tweet-list {margin-left: 0}
.tweet {list-style: none; margin-right: 30px; position: relative}
.tweet .profilpic {float: left; width: 50px; height: 50px; margin-right: 10px}
.tweet p {margin-right: 20px; font-size: 0.9em}
.tweet h4 abbr {font-weight: normal; margin-left: 10px}
.tweet_actions {position: absolute; right: 0; width: 30px; overflow: hidden; margin: 0}
.tweet-actions li {width: 20px; height: 20px; margin: 0px 10px 5px 10px}
.tweet-actions li a {height: 20px; overflow: hidden; white-space: nowrap; padding-left: 20px; display: block; background: #eee}
#story-list .story_bt_data {float: right;}
h3.comments {float: left; margin: 0;}
h3.comments.heading-left {margin-bottom: 10px}
h3.comments a {background: url(../images/comment_bg.png) 0 10px no-repeat; font: 11px/31px 'Arial', sans-serif; color: #333; display: block; padding: 0 0 0 21px;}
.tags {overflow: hidden; height: 1.1em; line-height: 1.1em;}
.tags li {background: url(../images/splice.png) -380px -2px no-repeat; float: left; list-style: none; padding: 0px 0  0  20px}
.tags li a {background: white; padding-right: 3px; display: block; line-height: 1.1em}
.tags.list-style {overflow: auto; height: auto; float: none}
.avatar-list-style {margin: 0 0 0 4px; padding: 0 0 10px; border-bottom: 1px solid #e3e3e3;}
.twoThree-right .avatar-list-style a img {width: 14px; height: 14px; margin: 0 5px 0 0; display: inline-block; vertical-align: middle;}
.twoThree-right .avatar-list-style a.title {font: 14px 'Arial', sans-serif; color: #444;}
.avatar-list-style li {margin: 0; list-style: none; display: block; overflow: hidden; white-space: nowrap; padding: 2px 5px; height: 16px; width: 320px;}
.list-style {margin: 0 0 10px 0}
.list-style li {margin: 0; padding-left: 24px; list-style: none}
.list-style li a {padding: 2px 5px; display: block; height: 15px; overflow: hidden; background: #FFF}
.list-style li.new {background: url(../images/splice.png) -300px -20px no-repeat}
.list-style li.comment {background: url(../images/splice.png) -80px 0  no-repeat}
.list-style li.story {background: url(../images/splice.png) -60px 0  no-repeat}
.list-style li.new-story {background: url(../images/splice.png) -400px 0  no-repeat}
.list-style li.group {background: url(../images/splice.png) -280px -20px no-repeat}
.list-style li.pm {background: url(../images/splice.png) -320px -20px no-repeat}
.list-style li.logout {background: url('../images/logout.png') 0 0 no-repeat; margin: 0;}
.list-style li.admin {background: url(../images/splice.png) -360px 0  no-repeat}
.list-style li.edit {background: url(../images/splice.png) -320px 0  no-repeat}
.list-style li.edit-user {background: url(../images/splice.png) -360px -20px no-repeat}
.list-style li.settings {background: url(../images/splice.png) -220px -20px no-repeat}
.list-style li.pm {background: url('../images/pm_new.png') 0 0 no-repeat;}
.list-style li.follow {background: url(../images/splice.png) -420px 0  no-repeat}
.list-style li.unfollow {background: url(../images/splice.png) -180px -20px no-repeat}
.list-style li.delete {background: url(../images/splice.png) -240px -20px no-repeat}
.list-style li.link {background: url(../images/splice.png) -420px -20px no-repeat}
.ratings {margin: 0; text-align: center; width: 95%}
.ratings li {list-style: none; display: inline; white-space: nowrap; padding: 0 5px; line-height: 2em}
form {margin: 0; padding: 0; color: #3f352f; margin: 10px 0}
form .field {position: relative; clear: left}
form .Double-Dropdowns {width: 220px; float: left; margin: 0 5px 0 0}
form .actions input {background: #eee; border: 1px solid #4d3f3e !important; padding: 1px 3px; margin: 5px 3px; width: auto; cursor: pointer; color: #000}
form fieldset {border: none}
#searchForm .field, #searchForm .button {float: left;}
#searchForm .field input {width: 294px; border: 1px solid #e3e3e3; background: #f5f5f5; height: 25px; padding: 0 3px; line-height: 25px;}
#searchForm .button {border: 1px solid #e3e3e3; border-left: 0; width: 31px; height: 27px; text-align: center; padding: 0 0 4px; color: #fff; font-weight: bold;
background: #ffeb7e; /* Old browsers */
background: -moz-linear-gradient(top,  #ffeb7e 1%, #ffda05 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffeb7e), color-stop(100%,#ffda05)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffeb7e 1%,#ffda05 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffeb7e 1%,#ffda05 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffeb7e 1%,#ffda05 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffeb7e 1%,#ffda05 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb7e', endColorstr='#ffda05',GradientType=0 ); /* IE6-9 */
}
form .field label, form label {width: 150px; font-weight: bold; float: left; text-align: right; padding-right: 5px}
form#searchForm .field label {display: none;}
form .field input {margin-bottom: 5px; width: 260px; padding: 2px}
form .field select {height: 22px; width: 294px;}
form .field input.chkBox {border: none; width: auto !important}
form .field-validated span {line-height: 20px; font-weight: bold; margin: 0 10px; color: #00a026}
form .field-error span {color: #f00; line-height: 20px; font-weight: bold; margin: 0 10px}
form input.error {border: 2px inset #f41f1f; background: #fff url(../images/ico-cross.gif) 98% 50% no-repeat}
form span.error_message {color: #f00; line-height: 20px; font-weight: bold; ;display: block}
form.comment span.error_message {margin-left: 0;}
form input.validated {border: 2px inset green; background: #fff url(../images/ico-check.gif) 100% 50% no-repeat}
form span.validated-message {line-height: 20px; font-weight: bold; margin: 0 10px; color: #00a026}
form textarea {border: 1px solid #b5b5b5 !important; margin: 0px 0 5px 0; width: 400px}
form .editor span {position: absolute; left: 90px; top: 15px; width: 20px}
form .editor span.error_message {position: static; margin-left: 125px; color: #f00; white-space: nowrap; width: auto}
form img.validating {position: absolute}
form.article .editor textarea {height: 500px}
form .edit-image img {float: left; border: 4px solid #eee; margin: 0 5px 5px 5px; padding: 5px}
form .edit-image .delete-image input, form .edit-image .delete-image label {float: none; width: auto}
.rating-form {float: left; margin: 0 0 0 10px; height: 24px; cursor: pointer; white-space: nowrap}
/*.rating-form h4 {float: left; background: #333; color: white; font-size: 20px; margin-right: 5px; padding: 0px 2px; display: none;}*/
.rating-form p {display: none}
.rating-form {/*background: transparent url('../images/story_yiggit.png') 0 0 no-repeat; padding: 0 0 0 22px;*/ border: none; margin: 0; line-height: 18px;}
#story-list .rating-form {position: absolute; left: 0; bottom: 0;}
.voted span, .rating-form input, .rating-form .button {display:block; background: #ffc851; border: 1px solid #c7c7c7; border-radius: 3px; float: left; line-height: 18px; padding: 0 2px;}
.rating-form .button {cursor: pointer; padding: 0; height: 20px; font: 11px 'Arial', sans-serif;}
.rating-form input, .voted span, .voted span a {text-decoration: none; color: /*#f5f5f5; text-shadow: 0 1px #DFAB3C*/ #000;}
.voted h4 label, .rating-form h4 label {background: #FFFFFF; border-color: #CCCCCC transparent transparent #CCCCCC; padding: 0; border-style: solid; border-width: 1px; display: block; height: 3px; left: -3px; position: absolute; top: 6px; width: 3px;
    -moz-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); /* Safari 3.1+ и Chrome 2.0+ */
    -o-transform: rotate(-45deg); /* Opera 10.5+ */
    -ms-transform: rotate(-45deg); /* IE 9.0 */
}
.voted h4, .rating-form h4 {color: #666666; float: left; font-weight: normal; line-height: 19px; text-align: center; margin-left: 5px; padding: 0 3px; position: relative; background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; border-radius: 3px 3px 3px 3px; font-size: 12px; font-family: 'Arial';}  
.rating-form.voted, .voted {font: 11px/25px 'Arial', sans-serif; color: #333; cursor: auto;}
.twoThree .twoThree-left .rating-form.voted, .twoThree .twoThree-left .voted {font: 11px/19px 'Arial', sans-serif;}
#bar_rate_story_wraper .rating-form {position: static; background: transparent; font-size: 12px; display: inline-block; float: none; text-transform: uppercase;}
.statistics caption {font-weight: bold; text-align: left; margin-bottom: 10px}
.statistics {width: 100%; font-size: 1.3em; margin-bottom: 20px}
.statistics td, .statistics th {text-align: center; border: 1px solid #EFEFEF; margin: 0}
.statistics th {background-color: #EFEFEF; width: 230px; padding: 2px 3px; text-align: center}
.statistics th.left {text-align: right}
.statistics td.none {border: none}
.statistics .wide {width: 200px}
.statistics td.amount {text-align: right; padding-right: 5px}
.extra-info {font-size: 1.2em; line-height: 1.5em; margin: 0}
.extra-info dt {float: left; width: 200px}
.extra-info dt abbr {font-size: 1em}
.extra-info dd {text-align: right; border-bottom: 1px solid #f2f2f2}
p.note, p.success, p.error {margin: 0; padding: 12px 10px 9px 45px; border-top: #EBE8D7 1px solid; border: #CCC 1px solid}
p.error {background: #ff9d9d url('../images/bigicons/error.gif') no-repeat 5px 8px;}
.twoThree-left p.error, .twoThree-left p.note, .twoThree-left p.success {width: 648px}
p.error, p.error a {font: 14px 'Arial', sans-serif; color: #191919;}
p.note {background: #feffd6 url(../images/bigicons/info_med.gif) no-repeat 5px 3px; color: #3f352f}
p.success {background: #1ccb13 url(../images/bigicons/allfine_med.png) no-repeat 5px 3px; color: #fff}
#LoginContainer fieldset {margin-bottom: 36px; border: 0;}
/*#LoginContainer .ninjaRequired {width: 150px}*/
#LoginContainer .actions * {display: inline}
.remember-me label {float: none !important}
.remember-me input {margin-left: 125px}
.boxtext {padding: 5px 5px 0  5px; border: 1px solid #ccc !important; background: #ececec repeat-x}
blockquote:before {content: "Zitat:"attr(cite); font-weight: bold; border-top: 5px}
blockquote {text-align: left; padding-left: 5px; margin-bottom: 5px; border-left: 2px solid #ccc; font-style: italic}
.user {text-align: right}
.comments-list li {list-style: none; margin-right: 150px; clear: both; position: relative; border-bottom: 1px solid #eee; margin-bottom: 10px}
.comments-list li.last {border-bottom: none}
.twoThree-right .comments-list li {margin-right: 60px}
.comments-list.expanded li {padding-left: 35px; min-height: 50px}
.comments-list li p {margin-bottom: 0.5em}
.comments-list li .comment-avatar {position: absolute; left: -20px}
.comments-list li form {margin: 0; text-align: left}
.comment-actions {position: absolute; right: -110px; top: 0; height: 20px; margin: 0; padding: 0; width: 100px; text-align: right}
.comment-actions li {margin: 0 !important; padding: 0 !important; clear: none; border: none; min-height: 20px !important; float: left}
.comment-actions li.delete {float: right}
.commentsimple * {margin: 0px; padding: 0}
.commentsimple, .login-comment {background: #eee; padding: 5px; clear: both}
.twoThree-right .commentsimple, .twoThree-right .login-comment {margin-right: 60px}
.commentsimple label {display: none}
.commentsimple .field {margin: 0}
.commentsimple textarea {width: 98%; padding: 3px}
.commentsimple input {float: right; border: 1px solid #666; background: #eee; padding: 2px 5px; margin: 3px}
.story-list .login-comment {text-align: center; margin: 0 170px 0  2em}
.login-comment .login-comment {margin: 0em}
.login-comment form {margin: 0}
.login-comment .field {text-align: left}
form.comment {padding: 0 5px; clear: right}
form.comment {background: none; padding: 0 5px; display: block; margin: 0; clear: right}
form.comment .mceLayout {width: 100% !important}
.search-form * {display: inline}
.sponsoring.banner {position: absolute; right: 0; top: 58px; text-align: center; height: 50px; width: 300px; margin: 0; padding: 0}
.sponsoring.banner .preview {background: url(../images/sponsoring-bg-banner.png) top left no-repeat; height: 50px; width: 300px}
.sponsoring.banner .preview p {margin: 0}
.sponsoring.banner .preview strong {margin: 0}
.sponsoring.navigation {margin-top: 15px;}
.sponsoring.navigation .preview {background: url(../images/sponsoring-bg.png) top left no-repeat; text-align: center}
.sponsoring.navigation .preview p {margin: 1em}
.sponsoring.navigation .preview strong {margin-top: 30px; display: block}
.sponsoring.navigation .preview a.button {text-align: center; line-height: 2em; font-size: 1.1em; padding: 2px 5px}
.sponsoring.navigation .sponsorship {float: left; width: 170px; height: 120px; margin: 5px 5px 0 0}
.actions .voted {font-size: 11px}
.post-box label {display: none}
.post-box textarea {width: 100%; height: 80px; margin: 0; padding: 0}
form.settings {width: 575px;}
form.settings .actions {padding-top: 0px}
form.settings label {float: right; width: 550px; text-align: left; margin: -1px 0 0;}
form.right-settings label {width: 100%; text-align: left}
.avatarList {margin: 0}
.avatarList li {list-style-type: none; display: inline; margin: 0 3px; line-height: 28px}
.avatar {border: 1px solid #ebaa44}
dl.basic-dl {margin: 0}
dl.basic-dl dt {font-weight: bold; margin-top: 5px; float: left; width: 150px; clear: both}
dl.basic-dl dd {margin: 5px 0  0  150px}
#toggleAnimation {background: #CBCBCB; border: 1px solid #4D3F3E; color: #000; cursor: pointer; margin: 5px 3px; padding: 1px 3px; font-size: 1.2em; float: right; clear: right}
#ajaxIndicator {float: right;}
#NodeList {border: 1px solid #EFEFEF; border-bottom: none; margin-left: 10px; clear: both; position: relative; width: 100%}
#NodeList li.spyNode.odd {background-color: #FAFAFA}
#NodeList .icon, #NodeList .votes {float: left; height: 20px; line-height: 25px; width: 60px}
#NodeList .icon {width: 25px}
#NodeList .icon img {padding-top: 3px}
#NodeList .title {line-height: 2em !important; height: 2em !important; font-weight: bold; overflow: hidden; width: 350px; display: block}
#NodeList li.animating, #NodeList li.new {height: 2em}
#NodeList li.spyNode {border-bottom: 1px solid #EFEFEF; position: relative; clear: left; padding: 0  5px; overflow: visible; z-index: 1; list-style-type: none}
#NodeList li.spyNode .node  * {border: 1px solid #FFF}
#NodeList li.spyNode.odd .node * {border: 1px solid #FAFAFA}
#NodeList .votes {width: 60px; white-space: nowrap; overflow: hidden}
#NodeList .tinyavatar {float: right; width: 14px}
#NodeList .node .link, #NodeList .node .vcard {float: right; border: none; width: 60px; clear: left; overflow: hidden; text-align: right; padding: 5px; white-space: nowrap}
#NodeList .node .link {width: 160px}
#NodeList .node a.storylink {color: #3f352f !important}
#NodeList li {list-style-type: none}
#NodeList .story {padding-right: 20px; background: #FFF}
#NodeList .entry-title {width: auto; margin: 0}
.loading {position: absolute; background: #FF971D; top: 0; height: 100%; width: 100%; line-height: 100px; text-align: center}
.closelink {top: 3px; right: 5px; width: 16px; height: 16px; display: block; position: absolute; cursor: pointer}
.spyNode #EditStory label {text-align: left; display: block; width: 100%}
.spyNode #EditStory .mceEditor {clear: left}
.notification-list {margin: 10px 25px 0 0; overflow: hidden}
.notification-list li {position: relative; margin-bottom: 15px; list-style: none;}
.notification-list li h3 {margin-top: 0; border-bottom: 1px solid #eee; padding-bottom: 5px}
.notification-list li p {margin: 0 30px 0.5em 0; text-align: left}
.notification-list li .comment-avatar {float: left; margin: 0  5px 3px 0}
.notification-list .comments-list li {margin-right: 35px}
.notification-list .list-style li {float: left; border: none}
.notification-list textarea {width: 90%;}
table.light-table {width: 100%; border: none !important}
table.light-table tr {border-bottom: 1px dotted #ccc}
table.light-table tr.odd {background-color: #f9f9f9}
table.light-table th {border: none; text-align: left; border-top: 1px dotted #ccc; border-bottom: 1px solid #ccc}
table.light-table tr td {border: none}
table.light-table tr .title {width: 30%; overflow: hidden}
table.light-table tr td.title {font-size: 1.1em}
table.light-table tr .number {width: 10%}
table.light-table tr td.number {font-size: 1.1em; text-align: center}
table.light-table tr.marked {background-color: #f2f2f2 !important}
table.light-table tr.marked .title {border-left: 1px solid #FF917D}
#verticalSearch .actions {float: right}
#verticalSearch .field {margin: 0; padding: 0}
#verticalSearch fieldset {float: left; margin: 0; padding: 0}
.shoutbox ul.comments-list li {margin-right: 0 !important}
#archive ol {margin-left: 0px !important}
#archive ol {float: left; width: 100%; border-left: 1px solid #eee; margin-bottom: 0 !important}
#archive ol li {float: left; width: 6%; border: 1px solid #eee; border-left: none; border-top: none; text-align: center; list-style-type: none}
#archive ol li a {display: block; padding: 3px 0; background-color: #FACB97}
#archive ol li a:hover, #archive ol li a.selected {background-color: #C75B1A; color: white}
#archive .year li {width: 12% !important}
ul.recommendations {margin-left: 0;}
.recommendations li {list-style-type: none; clear: both;}
.recommendations li p {margin-left: 55px;}
.recommendations img {float: left;}
form.comment label {display: block; width: 100%; text-align: left;}
form.comment fieldset input, form.comment fieldset textarea {width: 100% !important;}
.list-style.user-links li a {display: inline;}
a.storyDescLink {color: #333;}
a.storyDescLink:hover {text-decoration: none !important;}
.twoThree.videoHeader div.twoThree-left {min-height: 50px;}
.twoThree-right div.videoListAd {width: 370px; margin: 15px 0 15px 0;}
div.videoListAd #Toolbar {overflow: hidden; background: #EEE; border: none;}
div.videoListAd h3 {height: 20px; line-height: 20px; padding: 0px; margin-left: 5px; margin: 0; width: 200px; float: left; white-space: nowrap;}
div.videoListAd p {background: #EEE; width: 100%; padding: 2px;}
ul.recommended_users {margin-left: 0px !important; white-space: nowrap; overflow: hidden;}
ul.recommended_users li {position: relative; list-style-type: none; width: 49%; height: 35px; float: left;}
ul.recommended_users li a.avatar {position: absolute; border: none;}
ul.recommended_users li p {margin-left: 34px; margin-bottom: 1px; margin-top: 0; line-height: 1em;}
ul.recommended_users li p strong a {color: #000;}
ul.recommmended_users li {height: 40px;}
div.sidead {margin: auto; width: 301px; padding-bottom: 10px; overflow: auto; border-bottom: 1px solid #E3E3E3; text-align: center;}
div.sidead div {display: inline-block;}
form#new_form {margin: 0; padding: 0;}
/*form#new_form input {font-size: 14px; padding: 5px; width: 100%;}*/
form#new_form input.button {width: 200px; height: 30px;}
form#new_form input.button#Save {float: right;}
/*form#new_form label {font-size: 14px; float: none; display: block; text-align: left; margin-bottom: 5px;}*/
form#new_form textarea {font-size: 15px; padding: 5px; width: 584px; resize: none; height: 112px;}
form#new_form.article textarea {height: 600px;}
form#new_form.profileForm textarea {height: 120px;}
/*div.top_action_row {height: 30px; padding: 5px 8px; background: #f4f4f4; border-radius: 6px;}*/
div.top_action_row {clear: both;}
div.profile + div.top_action_row {padding: 0 0 55px 14px; margin: 0 0 20px; overflow: auto; border: 1px solid #dcdcdc; border-top: 0 none; width: 686px;}
div.top_action_row input {height: 36px; font: 14px 'Arial', sans-serif; color: #3e3e3e; border: 1px solid #d2d2d2;  float: left; margin: 0 14px 0 0;}
div.top_action_row input:hover {cursor: pointer;}
div.top_action_row input.unfollow {background: #56aa44 url(../images/silk-icons/star.png) no-repeat 5px 6px; border: 1px solid #16920d;}
div.top_action_row input.unfollow:hover {background: #99321b url(../images/silk-icons/cancel.png) no-repeat 5px 6px; border: 1px solid #8d0208;}
div.top_action_row input.follow {color: #000; background: #dedede url(../images/silk-icons/add.png) no-repeat 5px 6px; border: 1px solid #999;}
div.top_action_row input.follow:hover {background: #cccece url(../images/silk-icons/add.png) no-repeat 5px 6px;}
div.top_action_row input.settings {background: #f5f5f5 url(../images/settings_pic.png) no-repeat; text-align: center; width: 203px;} 
/*div.top_action_row input.settings:hover {background: #ccc url(../images/silk-icons/cog.png) no-repeat 5px 6px;}*/
div.top_action_row input.delete:hover {color: #FFF; background: #99321b url(../images/silk-icons/cancel.png) no-repeat 5px 6px; border: 1px solid #8d0208;}
div.top_action_row input.delete {color: #fff !important; width: 150px; color: #000; border: 1px solid #999; background: #df4b2c url(../images/silk-icons/cancel.png) no-repeat 5px 6px;}
div.top_action_row input.profile {background: #f5f5f5 url(../images/profile_pic.png) no-repeat; padding: 0 0 0 29px; text-align: center; width: 203px;}
div.top_action_row input.facebook {border: 1px solid #9aaaca; background-repeat: no-repeat;
background-image: url(../images/fb_inp.png) no-repeat, #556fa6; /* Old browsers */
background-image: url(../images/fb_inp.png) no-repeat, -moz-linear-gradient(top,  #556fa6 0%, #3f5d9a 100%); /* FF3.6+ */
background-image: url(../images/fb_inp.png) no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#556fa6), color-stop(100%,#3f5d9a)); /* Chrome,Safari4+ */
background-image: url(../images/fb_inp.png) no-repeat, -webkit-linear-gradient(top,  #556fa6 0%,#3f5d9a 100%); /* Chrome10+,Safari5.1+ */
background-image: url(../images/fb_inp.png) no-repeat, -o-linear-gradient(top,  #556fa6 0%,#3f5d9a 100%); /* Opera 11.10+ */
background-image: url(../images/fb_inp.png) no-repeat, -ms-linear-gradient(top,  #556fa6 0%,#3f5d9a 100%); /* IE10+ */
background-image: url(../images/fb_inp.png) no-repeat, linear-gradient(to bottom,  #556fa6 0%,#3f5d9a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556fa6', endColorstr='#3f5d9a',GradientType=0 ); /* IE6-9 */
}
div.profile {width: 700px; font-size: 15px; padding-bottom: 21px; overflow: auto; border: 1px solid #dcdcdc; border-bottom: 0 none;}
div.profile .about {margin-top: 10px;}
div.profile dt {display: none;}
div.profile dd {padding: 0; margin-left: 120px; margin-bottom: 5px;}
div.profile img {float: left; border: 1px solid #c7c6c6; margin: 14px 14px 0 14px;}
div.profile h1 {font: 18px/36px 'Arial', sans-serif; color: #191919; margin: 14px 0 0;}
.user-about {position: relative; padding: 5px 0px; margin: 0; width: 100%; height: 30px; background: #f4f4f4; border-radius: 5px; position: relative;}
.user-about dd, .user-about dt {position: absolute; width: 19%; padding: 0 5px; text-align: center;}
.user-about dd {font-size: 1.1em; margin: 0; font-weight: bold; top: 22px;}
.user-about dt {margin: 0; height: 30px; border-right: 1px solid #CCC;}
.user-about .rang {left: 0;}
.user-about .stories {left: 23%;}
.user-about .comments {left: 46%; width: 23%;}
.user-about .awards {left: 72%; width: 21%; border: none;}
div.now_later_button {width: 170px; position: relative; height: 25px; margin-bottom: 3px; border-radius: 3px; border: 1px solid #CCC; float: left; margin: 2px; white-space: nowrap; overflow: hidden;}
div.now_later_button.big {width: 340px;}
div.now_later_button a.later {display: block; height: 15px; width: 15px; padding: 5px; text-indent: -3000px; position: absolute; right: 0; top: 0; background: #CCC url(../images/silk-icons/bell_add.png) no-repeat 4px 4px;}
div.now_later_button a.later:hover {background: #659066 url(../images/silk-icons/bell_add.png) no-repeat 4px 4px;}
div.now_later_button a.now {display: block; color: #000; height: 15px; line-height: 15px; padding: 5px; margin-right: 25px; background: #EEE; text-align: center;}
div.now_later_button.subscribed a.later {background: #659066 url(../images/silk-icons/accept.png) no-repeat 4px 4px;}
div.now_later_button.subscribed a.later:hover {background: #df4b2c url(../images/silk-icons/bell_delete.png) no-repeat 4px 4px;}
.post.wspy {position: relative;}
.post.wspy .screenshot {position: absolute; right: 0; top: 20px; margin: 0;}
.post.wspy .screenshot img {position: absolute; top: 0; left: 0;}
.post.wspy .body {margin-right: 155px;}
.post.wspy a.add_wspy_entry {display: block; position: absolute; left: 0; font-size: 12px; top: 95px; background: #659066; width: 115px; height: 20px; line-height: 20px; color: #FFF; border: 1px solid #CCC; padding: 0 3px; text-align: center;}
ul.ymod_links {margin: 20px 0;}
ul.ymod_links a {color: #FFF;}
ul.ymod_links li {display: block; height: 20px; width: 120px; float: left; padding: 5px; cursor: pointer; margin-right: 10px; line-height: 20px; background: #df4b2c; text-align: center; border-radius: 3px; margin-bottom: 5px;}
.ymod .hentry {padding-top: 5px; padding-bottom: 0;}
#sub-navi li#search {float: right; margin-right: 0px; overflow: hidden; width: 250px; height: 25px; position: relative;}
#search form {margin: 0;}
#sub-navi li#search label {display: none;}
#sub-navi li#search .button {width: 50px; display: inline; background: #EEE; border: 1px solid #000; height: 20px; margin-left: 5px;}
#sub-navi li#search input {float: left; width: 185px; display: inline;}
.twoThree-left #searchForm {height: 50px;}
.twoThree-left #searchForm label {display: none;}
.twoThree-left #searchForm input {height: 25px; font-size: 15px; width: 68%; float: left;}
.twoThree-left #searchForm input.button {height: 30px; font-size: 15px; width: 30%; background: #EEE; border: 1px solid #CCC; float: right;}
.spreadly-button{clear: right; float: left; height: 27px; margin: 0; position: relative; width: 130px;}
.ico a {height: 20px; overflow: hidden; white-space: nowrap; padding-left: 20px; display: block; background: #eee; width: 0}
.ico-follow{display: inline-block;}
.anzeige_titel, .heading-right, .twoThree-right h2, .twoThree-right p {width: 327px; padding: 0 9px;}
.anzeige_titel {border-top: 1px solid #E3E3E3;}
.userinfo + .anzeige_titel {margin: 14px 0px 0px;}
.twoThree-right p.note {padding: 12px 10px 9px 45px; width: auto;}
.anzeige_titel p, .heading-right, .twoThree-right h2 {font: bold 14px/36px 'Arial', sans-serif; color: #191919; margin: 0;}
.twoThree-right .anzeige_titel p {padding: 0;}
.twoThree-right a img {display: block; margin: 0 auto 14px;}
.twoThree-right a.avatar img {margin-bottom: 0;}
#bar_wraper{height: 50px; background-color: #dddddd; display:block;}

#bar_content{margin: 0 auto; width: 1400px;}

#bar_logo{padding: 8px 25px 0 25px; float: left;}

#bar_rate_story{float: left; padding-top: 16px;}

#bar_comments{float: left; padding: 12px 25px 0 25px;}

#bar_comments_content{float:left; padding: 10px; position: absolute; border: 1px solid #c5c5c5; margin-top: 6px; left: 19.7%;
                      background-color: #f7f6f6; border-radius: 5px; width: 580px; max-height: 300px; overflow:auto; box-shadow: 2px 2px 2px 2px #5d5d5d;}

#bar_comments_content ul li {margin: 5px; border-bottom: 1px solid #c5c5c5;}

.close{float: right; margin-top: 12px; cursor: pointer; background:url("../images/close_button.png") 0 0 no-repeat; width: 22px; height: 22px;}
.close:hover{float: right; margin-top: 12px; cursor: pointer; background:url("../images/close_button_hover.png") 0 0 no-repeat; width: 22px; height: 22px;}

#bar_comments_label {background: url("../images/yigg-comments.png") 0 0 no-repeat; width: 35px; height: 30px;}

#bar_comments_label:hover {cursor: pointer;}

#spreadly_bar {float: left; padding: 4px 10px 0 15px;}

#bar_rate_story_wraper{float:left; width: 130px; padding: 12px 0; height: 24px; text-align: center;}

.v_separator {background: url("../images/separator.png") 0 0 no-repeat; width: 2px; height: 40px; float:left; margin-top: 4px;}

/* Relates Stories */
#bar_related_stories {float: left; margin: 0 20px; position: relative;}
.related_stories {float: left; width: 268px; font-size: 12px; line-height: 30px; color: #333; text-transform: uppercase;}
.related_stories a {float: left; padding: 7px 0 0; margin: 0 10px 0 0; height: 43px;}
.related_stories a + a {float: left; padding: 0; margin: 0; width: 215px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; color: #5d5d5d; line-height: 9px; height: 20px; text-transform: none;}
.bar_plholder {float: left; width: 200px; height: 50px;}
#show_stories {background: url(../images/toggle.png) 0 0 no-repeat; float: left; width: 40px; height: 50px; cursor: pointer; font-size: 0;}
#bar_related_stories_content {position: absolute; top: 49px; right: 0; border: 2px solid #CCCCCC; background-color: #F7F6F6; border-radius: 5px 5px 5px 5px; box-shadow: 2px 2px 2px 2px #5D5D5D;}
#bar_related_stories_content .avatar-list-style {padding: 0 12px 12px; float: left;}
#bar_related_stories_content .avatar-list-style li {padding: 0; border-bottom: 1px solid #c5c5c5; height: 51px; line-height: 51px; width: 453px; float: left; clear: both;}
#bar_related_stories_content .avatar-list-style li img {width: 36px; height: 36px; vertical-align: middle;}
#bar_related_stories_content .avatar-list-style li a {float: left; width: 47px;}
#bar_related_stories_content .avatar-list-style li a:hover {text-decoration: none;}
#bar_related_stories_content .avatar-list-style li a + a {background: url(../images/li_bg.png) top right no-repeat; width: 390px; padding-right: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; color: #5d5d5d;}
/* End Relates Stories */

/* Login Page */
#LoginContainer, #ResetPasswordForm, #RegisterForm {border: 1px solid #dcdcdc; width: 653px; height: 329px; margin: 10px 0 0; padding: 25px 0 0 46px; float: left;}
#ResetPasswordForm, #RegisterForm {height: 319px; padding: 35px 0 0 46px;}
#ResetPasswordForm h1, #RegisterForm h1 {margin-top: 0;}
#LoginContainer h3, #LoginContainer h3 a {font: 14px 'Arial', sans-serif; color: #191919;}
#LoginContainer h3 a {text-decoration: underline;}
#LoginContainer h3 {clear: both; float: left; margin-top: 20px;}
#LoginForm {width: 622px;}
#LoginForm label, #ResetPasswordForm label, .profileForm .field label, form.right-settings label {text-align: left; display: block; font: 14px 'Arial', sans-serif; color: #191919; float: none; margin: 0 0 10px;}
#LoginForm label {display: none;}
#LoginForm .field.remember-me label {display: block;}
.log_title, #RegisterForm h1 {font: 18px 'Arial', sans-serif; color: #191919;}
.log_title + .succes {margin: 0 0 15px;}
#LoginForm .field, #ResetPasswordForm .field, #RegisterForm .field {margin: 0 0 13px;}
#LoginForm .remember-me {margin: 0 0 25px !important; clear: both !important;}
#LoginForm .actions {clear: both;}
#LoginForm .remember-me label, #LoginForm .remember-me input {float: left; margin-bottom: 0;}
#LoginForm .remember-me label {line-height: 26px; color: #666666;}
#LoginForm .remember-me input {margin-right: 5px; margin-left: 0;}
#LoginForm input, #ResetPasswordForm input, form#new_form input, form#new_form #save, .settings .actions input, form.right-settings input, form.right-settings .actions input, 
form.post-box .actions input, #RegisterForm .field input {border: 1px solid #e3e3e3; background: #f5f5f5; display: block; height: 25px; padding: 1px 3px; width: 293px; color: #000;}
#LoginForm .field, #ResetPasswordForm .field, #RegisterForm .field {float: left; margin-right: 18px; width: 302px; clear: none; margin-bottom: 0;}
#LoginForm .field + .field, #ResetPasswordForm .field + .field, #RegisterForm .field + .field {margin-right: 0;}
#LoginForm .field .field, #ResetPasswordForm .field .field, #RegisterForm .field .field {margin-bottom: 0;}
#ResetPasswordForm .actions {margin: 20px 0px 0px; clear: both; float: left;}
#LoginForm .button, #ResetPasswordForm .actions input, #RegisterForm .actions input {float: left; width: auto; margin: 0 15px 0 0 !important; padding: 0 8px 2px;}
#LoginForm #user_reset_password {font: 12px/23px 'Arial', sans-serif; color: #9a9c9d; float: right;}
#LoginForm .error {margin: 0 0 5px;}
form#new_form.ninjaForm {position: relative; margin: 4px 0 0;}
form#new_form.ninjaForm .field {width: 500px; float: right; clear: both; position: static;}
form#new_form.ninjaForm #Save {float: right; width: auto; padding: 0 8px 2px;}
form#new_form.ninjaForm input {margin: 0 0 12px; width: 482px;}
form#new_form.ninjaForm textarea {width: 478px; margin: 0 0 12px; border: 1px solid #e3e3e3 !important; background: #f5f5f5;}
.profileForm .field {float: left; margin: 0 0 15px; clear: none;}
form#new_form .actions {margin: 0 10px 20px 0;}
form#new_form #save {float: left; width: auto;}
.prof_avtr img {border: 1px solid #C7C6C6;}
.settings .actions input, form.right-settings .actions input, form.post-box .actions input {float: none; padding-bottom: 6px;}
form.right-settings label {margin: 0 0 3px;}
form.right-settings input {display: inline;}
#RegisterForm h3 {clear: both; margin-top: 20px; float: left; width: 100px; margin-bottom: 5px;}
#RegisterForm .field {margin-bottom: 15px;}
#RegisterForm .field_last {clear: both;}
#RegisterForm .field_last ul {margin: 0;}
#RegisterForm .field_last ul li a {line-height: 23px;}
/* End Login Page */

/* Categories */
ul#Categories {margin: 0; width: 490px; float: left; clear: both;}
#Categories li#Categories {float: left; margin: 0 8px 8px 0; padding: 5px 2px 5px 5px; background: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 5px; min-width: 108px;}
form#new_form.ninjaForm #Categories li input, form#new_form.ninjaForm #Categories li label {width: auto; height: auto; margin: 0; padding: 0; float: left;} 
form#new_form.ninjaForm #Categories li label {display: block; font: 12px/16px 'Arial', sans-serif; color: #000;}
form#new_form.ninjaForm #Categories li input {float: right; margin: 2px 0 0;}
.validating {position: absolute; top: 90px; left: 90px;}
/* End Categories */