lib/form/doctrine/base/*
lib/model/doctrine/base/*
lib/filter/doctrine/base/*
node_modules
cache/*
log/*
htdocs/uploads/*
data/sql/*

.DS_Store

*.scssc

data/frontend_prod-cli.lck

config/doctrine/schema.yml

npm-debug.log

htdocs/backend.php
htdocs/backend_*.php
htdocs/frontend_*.php
htdocs/api_*.php
htdocs/index.php
htdocs/mugim.php
htdocs/api.php

*.lck

htdocs/sitemap*.xml
