body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "helvetica neue", arial, sans-serif;
  background: #f0f0f0 url("../../images/v9/noise.png") repeat; }

.screen-reader-text {
  display: none; }

#branding {
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
  background-color: white;
  width: 100%;
  font-size: 13px;
  padding-bottom: 20px;
  margin-bottom: 50px; }

#access {
  width: 1000px;
  margin: 0 auto; }

#main-navigation {
  display: inline; }
  #main-navigation li {
    display: inline; }

#search {
  float: right; }

#main {
  width: 1000px;
  margin: 0 auto; }

main {
  display: block; }

#content {
  width: 800px;
  float: left; }

#sidebar {
  display: block;
  width: 200px;
  float: right;
  color: #aaa; }
  #sidebar a {
    color: #aaa; }

footer {
  clear: both; }

#footer {
  width: 1000px;
  margin: 0 auto; }

ol#stories {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ol#stories li {
    width: 350px;
    margin: 0 50px 50px 0;
    padding: 0px;
    float: left; }

article {
  position: relative;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); }
  article h3, article h3 a {
    color: #393939;
    font-size: 20px; }
  article .attachement {
    background-color: #393939; }
    article .attachement img {
      padding: 0;
      margin: 0;
      max-width: 100%;
      min-width: 100%;
      height: auto; }
  article header, article .entry-content, article .entry-summary {
    padding: 0 20px;
    line-height: 1.4; }
  article .entry-meta {
    font-size: 12px;
    color: #aaaaaa; }
  article .entry-content, article .entry-summary {
    font-size: 13px;
    color: #666666; }
