body#bar {
  overflow: hidden;
  background: none;
  background-color: transparent;
  
  html, body, iframe, #iframe-content { margin:0; padding:0; height:100%; }

  iframe { display:block; width:100%; border:none; clear: both; }
  
  #branding {
    margin-bottom: 0;
    margin-bottom: 5px;
  }
  
  #comments {
    position: relative;

    #comments-content {
      padding: 15px 0 50px 50px;
      background-image: url(/images/v9/noise.png);
      box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
      display: none;
      position: absolute;
      left: 5px;
      top: 40px;
      background-color: #fff;
      width: 500px;
      max-height: 300px;
      overflow: scroll;
    }
  }
  
  .bar-items {
    margin: 0;
    padding: 0;
    
    & > li {
      margin-top: 20px;
      float: left;
      list-style-type: none;
      padding-right: 50px;
      
      .rating-form {
        padding-top: 7px;
      }
    }
  }
  
  a#close {
    float: right;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
  }
}