body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: $font-family;
  background: $background url("../../images/v9/noise.png") repeat;
}

.screen-reader-text {
  display: none;
}

a.external {
  text-decoration: none;
}

img.avatar {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  -ms-border-radius: 500px;
  -khtml-border-radius: 500px;
  border-radius: 500px;
}

#content {
  color: #888;
  text-shadow: #fff 0px 1px 0px;
  font-size: 16px;
}

.page-title {
  padding-top: 0;
  margin-top: 0;
  clear: both;
}