body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: $font-family;
  background: $background url("../../images/v9/noise.png") repeat;
}

.screen-reader-text {
  display: none;
}

a.external {
  text-decoration: none;
}