#branding {
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
  background-color: $foreground;
  width: 100%;
  font-size: 13px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

#access {
  width: $page-width;
  margin: 0 auto;
}

#main-navigation {
  display: inline;
  li {
    display: inline;
  }
}

#search {
  float: right;
}