ol#stories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;

  li {
    position: relative;
    padding: 0px;
    width: 400px;
    float: left;
  }
}

#content .story-advertising {
  .ad-container {
    padding: 7px;
  }
}

#content .post {
  background-color: $foreground;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  margin: 0 50px 50px 0;
  display: block;
  @include clearfix();

  h3, h3 a {
    color: $headline-color;
    font-size: 16px;
    text-transform: uppercase;
  }

  .attachement {
    background-color: #fff;
    img {
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;
    }

    .media-container {
      text-align: center;
      margin: 0 auto;
      width: auto;
      background-color: #393939;

      &, a, strong, small, big {
        color: #fff;
        text-shadow: none;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }

  .entry-domain a {
    text-transform: lowercase;
    font-size: 12px;
    color: $light-gray;
    display: block;
    text-align: right;
    text-decoration: none;

    &:before {
      content: '\2014 \00A0';
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .entry-meta,
  .entry-title,
  .entry-content,
  .entry-summary,
  .entry-description,
  .body {
    padding: 0 20px;
    line-height: 1.4;
    word-wrap: break-word;
  }

  .entry-meta {
    font-size: 12px;
    color: $light-gray;

    a {
      color: $light-gray;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .entry-content, .entry-summary {
    font-size: 14px;
    color: $text-color;
  }

  header .rating-form {
    float: right;
    margin: 0 20px 20px;
  }
}

#related-articles {
  margin-top: 50px;
  padding-top: 50px;
  margin-right: 50px;
  border-top: 1px solid #fff;
  -moz-box-shadow: #ccc 0 -1px 0 0;
  -webkit-box-shadow: #ccc 0 -1px 0 0;
  box-shadow: #ccc 0 -1px 0 0;

  h3 {
    padding-top: 0;
    margin-top: 0;
  }
}

form.comment {
  textarea {
    width: 99%;
  }
  label {
    display: block;
  }
}

.comment-section {
  margin-right: 50px;
}

.news-filter {
  margin-bottom: 50px;

  .button {
    margin-right: 10px;
  }
}