$font-family: "helvetica neue", arial, sans-serif;

// colors
$foreground: #ffffff;
$background: #f0f0f0;

$dark-gray: #393939;
$gray: #666;
$light-gray: #aaa;

$headline-color: $dark-gray;
$text-color: $gray;

// sizes
$page-width: 1000px;
$contet-width: 800px;
$sidebar-width: 200px;

// pixels
$border-radius: 3px;